{% extends "layout_list.html" %}
{% set active_page = "monitoredsegment" %}

{% block title %}Monitored Segments{% endblock %}

{% block topsummary %}
        <p><strong>Monitored Segments</strong> represent network segments that are inspected by passive monitoring devices. These provide AMPT with the information it needs to send crafted IP probe packets to specified destinations, allowing monitoring devices to alert when the probe reaches the desired segment.</p>
        <p>There are currently <strong>{{ objects|length }}</strong> monitored segments. Before adding monitored segments, at least one <a href="{{ url_for('GeneratorView:index') }}">Probe Generator</a> must be deployed and activated.</p>
        <p><a href="{{ url_for('SegmentView:create') }}" class="btn btn-success btn-sm" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new segment</a></p>
{% endblock %}

{% block thead_content %}
            <tr>
              <th>Segment Name</th>
              <th>Description</th>
              <th>Generator</th>
              <th>Active</th>
              <th>Edit</th>
            </tr>
{% endblock %}

{% block tbody_content %}
            {% for segment in objects %}
            <tr{% if not segment.active %} class="text-muted"{% endif %}>
               <td><strong><a href="{{ url_for('SegmentView:get', id=segment.id) }}">{{ segment.name }}</a></strong></td>
               <td>{{ segment.description }}</td>
               <td><a href="{{ url_for('GeneratorView:get', id=segment.generator.id) }}">{{ segment.generator.name }}</a></td>
               <td>{{ 'Yes' if segment.active else 'No' }}</td>
               <td><a href="{{ url_for('SegmentView:edit', id=segment.id) }}">Edit</a></td>
            </tr>
            {% endfor %}
{% endblock %}

