
The setup of a new config instance for AMPT is complete. The specified
configuration directory contains default files for the instance as
well as the SQLite database. Configure `ampt_manager.conf` to your
preference and start the server.

Default admin credentials:

  Username: {{ username }}
  Password: {{ password }}

A self-signed certificate and private key are also installed. These
can be replaced with files of your choosing at any time.

