{% extends "layout.html" %}
{% set active_page = "probegenerator" %}

{% block title %}Delete Probe Generator{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-7">
    <p><a href="{{ url_for('GeneratorView:index') }}"><span class="glyphicon glyphicon-chevron-left"></span> Probe Generators</a></p>

    <h2>{{ generator.name }} <small>Probe Generator</small></h2>
    <p>Delete probe generator? This will remove it from AMPT.</p>

    <form method="POST">
        {{ form.csrf_token }}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>

  </div> <!-- /.col-md-# -->
</div> <!-- /row -->
{% endblock %}
